<html>
<head>
    <title>Dark Sector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/main.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Arsenal</h1>
        <a class="btn btn-dark" href="/player">Player</a>

        <!-- Nav tabs -->
        <div class="row">
            <ul class="col-md-4 nav flex-column nav-pills" id="myTab" role="tablist">
                {% for player_gear in player.gears %}
                <li class="nav-item">
                    <a class="nav-link"
                       id="{{ player_gear.gear.name }}-tab"
                       data-toggle="tab"
                       href="#{{ player_gear.gear.name }}"
                       role="tab"
                       aria-controls="{{ player_gear.gear.name }}"
                       aria-selected="true"
                    >
                        {{ player_gear.gear.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>

            <!-- Tab panes -->
            <div class="col-md-8 tab-content">
                {% for player_gear in player.gears %}
                <div class="tab-pane"
                     id="{{ player_gear.gear.name }}"
                     role="tabpanel"
                     aria-labelledby="{{ player_gear.gear.name }}-tab"
                >
                    <h2>{{ player_gear.gear.name }}</h2>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">Quality: {{ player_gear.gear.quality.value }}</li>
                            {% if player_gear.gear.__class__.__name__ == 'Weapon' %}
                            <li class="list-group-item">Damage: {{ player_gear.gear.damage }}</li>
                            {% endif %}
                            {% if player_gear.gear.__class__.__name__ == 'Armor' %}
                            <li class="list-group-item">Life: {{ player_gear.gear.life }}</li>
                            <li class="list-group-item">Armor: {{ player_gear.gear.armor }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</body>
</html>
