<html>
<head>
    <title>Dark Sector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/main.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        {% if error %}
            <span>{{ error }}</span>
        {% else %}
            <h1>Dark Sector</h1>
            <span>{{ expedition.sector_level }}</span>
            <span>{{ expedition.status.value }}</span>
            {% if expedition.status.value == 'SUCCESS' %}
                <h2>Dark sector cleared</h2>
            {% else %}
                <ul class="list-group list-group-flush">
                {% for monster in sector.monsters %}
                <li class="list-group-item">
                    <span>{{ monster.monster.name }}: <i>{{ monster.quantity }}/{{ monster.initial_quantity }}</i></span>
                    <form action="/attack" method="post">
                        <input type="hidden" name="monster_name" value="{{ monster.monster.name }}">
                        <input class="btn btn-dark" type="submit" value="Attaquer">
                    </form>
                </li>
                {% endfor %}
                </ul>
                <a class="btn btn-dark" href="/darksector/next">Complete</a>
            {% endif %}
            <a class="btn btn-dark" href="/player">Player</a>
        {% endif %}
    </div>
</body>
</html>
